.brand-container{
    max-width: 100%;
    padding: 50px 50px 50px 50px ;
    margin: px 0 250px 0px;
    background: rgba(62, 62, 64,0.1);
    
}

.brand-center{
    max-width: 800px;
    
    
    background: #f4f7f8;
    box-shadow: 1px 1px 10px ;
    border-radius: 8px;
    
    margin:50px 20px 0 40px;
    padding: 0 10px 0 10px;
    position: relative;
}

.brand-wrapper{
    display: flex;
  
    margin-left: 40px;
}

.brand-elements{
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
}
.brand-img img{
    width: 100%;
    height: 100%;
    display: block;
}

.brand-footer{
   
    border: 30px solid rgba(189, 189, 199,1);
    background: rgba(189, 189, 199,1);
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

