.formStyle2{
    width: 450px;
    
    padding: 10px 50px 10px 10px ;
    
    background: #f4f7f8;
    border-radius: 8px;
    margin-left: 20px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.formStyle2 legend{
    font-size: 1.4rem;
    
    margin:5px 0 20px 20px;
    color: rgba(6,105, 37, 0.7);
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid #0e9e3c ;
   
    padding: 8px 0 10px 10px;
    
}

.form2-inputs{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    margin:0px 0px 5px 0px;
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    color: #F072A9;
    text-shadow: 1px 1px 1px #fff;

}



.formStyle2 input[type="text"],
.formStyle2 input[type="number"],
.formStyle2 input[type="email"],
.formStyle2 input[type="password"],
.formStyle2 select{
    border-radius: 4px;
    border: 1px solid #ded7d7;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
   text-align: center;
   
    background: rgba(255 ,255,255,0.3);
    
    width: 100%;
    outline: 0;
    margin-left: 20px;
    padding: 10px;
    background-color: #f2f4f5;
    color: #8a97a0;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3) inset;
    box-shadow: 0 1px 0 rgba(0 ,0,0,0.03);
    margin-bottom: 30px;
    


}

.formStyle2 input[type="text"]:focus,
.formStyle2 input[type="number"]:focus,
.formStyle2 input[type="email"]:focus,
.formStyle2 input[type="password"]:focus,
.formStyle2  select:focus{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background: rgba(255 ,255,255,0.3);
    background-color:#dbd7d7;
    color: #0a0a0a;
   
     
    


}

.formStyle2 input[type="submit"],
.formStyle2 input[type="button"]{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 0 0 20px;
    background: cornflowerblue;
    font-size: 18px;
    text-align: center;
    border: 1px solid #4d83e8;
    width: 100%;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.formStyle2 input[type="submit"]:hover,
.formStyle2 input[type="button"]:hover
{
    background: #1b60e0;
    border :1px solid #1b60e0;
}



@media screen and (max-width:991px){
    .formStyle2 label{
        
        display: block;
        width: 100%;
        
    
    }
   
    
}